In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px

### Useful Resources

1. https://pudding.cool/2017/08/the-office/
2. https://simpletexting.com/the-office-dialogue-analysis/

In [13]:
df = pd.read_csv("The_Office_lines.csv", index_col='id')
df.drop(['scene'], axis = 1, inplace=True)
df.head()

,season,episode,line_text,speaker,deleted
id,,,,,
1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
2,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
3,1,1,So you've come to the master for guidance? Is ...,Michael,False
4,1,1,"Actually, you called me in here, but yeah.",Jim,False
5,1,1,"All right. Well, let me show you how it's done.",Michael,False